@use "_base" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.root {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@include container-palette();

