:root{

    /* Colors */
    --base-background-color:#e20a0a;
    --important-background-color:#782626;
    --warning-background-color:#b185a6; 

    /* Font Families */
    --main-font-family: 'times new roman', serif;
    --secondary-font-family: 'comic sans ms', cursive;

    /* Effects */
    --box-shadow: -10px 10px 10px 4px rgba(0, 0, 0, 0.9);
}