:root{
    /* Colors */
    --base-background-color:hwb(247 4% 11%);
    --warning-background-color:#0e043e;
    --important-background-color:#0fc4e0;

    /* Font Families */
     --main-font-family: 'Arial', serif;
    --secondary-font-family: 'verdana', cursive;

    /* Effects */
    --box-shadow: 10px 10px 10px 4px rgba(0, 0, 0, 0.9);
}